@font-face {
  font-family: 'Neva-Light';
  src: url('../fonts/Nexa/NexaDemo-Light.otf');
}

@font-face {
    font-family: 'Neva-Bold';
    src: url('../fonts/Nexa/NexaDemo-Bold.otf');
}

html,body{
    font-family: 'Neva-Light',sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

h1{
    font-family: 'Neva-Bold',sans-serif;
    text-transform: uppercase;
}

#cursor{
    height: 50px;
    width: 50px;
    background:transparent;
    border: 3px solid #ff9900;
    border-radius: .5rem;
    position: absolute;
    display: none;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
}

span:hover ~ #cursor,
i:hover ~ #cursor,
h1:hover ~ #cursor,
img:hover ~ #cursor,
a:hover ~ #cursor,
span:hover ~ #cursor,
button:hover ~ #cursor,
div:hover ~ #cursor{
    transform: scale(0.5);
}

.sidenav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255,0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    margin-left: -100%;
    transition: all 1s;
    border-right: 1px solid #757575;
    z-index: 2;
}

.sidenav-menu{
    list-style: none;
    width: 650px;
    list-style-position: inside;
    padding: 0;
    padding-top: 60px;
    margin: 0 auto;
}
.sidenav-menu li {
    text-align: center;
}
.sidenav-menu li a{
    display: none;
    width: 100%;
    text-align: center;
    color: #757575;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
    opacity: 0;
    animation: fadeLink;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: normal;
}

.sidenav-menu li a:hover{
    color:#ff9900;
    background: rgb(242 242 242 / 30%);
    letter-spacing: 2px;
}

.navbar-brand{
    max-width: 250px;
    overflow: hidden;
    display: block;
    max-height: 70px;
}

.navbar-brand img{
    width: 100%;
    opacity: 0;
    margin-top: 80px;
    transition: all .5s ease-in-out;
}

.navbar {
    box-shadow:none;
    position: relative;
    z-index: 2;
    padding: 20px 60px;
}

.bg-light {
    background-color: transparent!important;
}

#item-grow-1{
    animation-delay: .3s;
}

#item-grow-2{
    animation-delay: .6s;
}

#item-grow-3{
    animation-delay: .9s;
}

#item-grow-4{
    animation-delay: 1.2s;
}

#item-grow-5{
    animation-delay: 1.5s;
}

/* sections */
.row{
    height: 100%;
}
.main-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.container-fluid{
    width: 100%;
    height: 100%;
    display: none;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}

video{
    display: block;
    max-width: 960px;
    margin: 0 auto;
    transition: all 1s ease-out;
}

#proyectos{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}

#proyectos h1{
    padding: 0 15px;
    border-left: 4px solid #f38c23;
    margin-left: 60px;
}

.right-container{
    margin-left: 100%;
}
.central-col{
    text-align: center;
}
/* gallery grid */

.gallery{
    position: absolute;
    right: 140px;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    list-style-position: inside;
    z-index: 2;
}

.gallery li{
    display: inline-block;
    position: relative;
    width: calc(33.3333% - 20px);
    height: 100%;
    margin-right: 5px;
    overflow: hidden;
    padding: 0;
    transition: all .3s;
    bottom: -100%;
    opacity: 0;
    padding-top: 120px;
    display: none;
    animation-name: fadeUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.gallery li .thumb-gallery{
    height: 100%;
}

.gallery li .thumb-gallery img{
    cursor: pointer;
    max-height: 100%;
    transition: all .3s;
    filter: grayscale(100%);
    transform: translateX(0);
}

.gallery li .thumb-gallery img:hover{
    filter: grayscale(0%);
    animation:picGallery;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.gallery li:first-child{
    padding-top: 250px;
}

.gallery li:last-child{
    padding-top: 160px;
}

.gallery li h3{
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0px;
    font-family: 'Neva-Bold', sans-serif;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    white-space: nowrap;
    font-size: 1.2rem;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.gallery li:hover h3{
    opacity: 1;
    bottom: 5px;
}

/* boxes */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    transition: all .3s;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 152, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#item-up-1{
    animation-delay: 0s;
}

#item-up-2{
    animation-delay: .4s;
}

#item-up-3{
    animation-delay: .8s;
}

/* social */
#social{
    position: fixed;
    width: 50px;
    left: 60px;
    bottom: 30px;
    z-index: 2;
}
i.social-item{
    display: none;
    font-size: 1.2rem;
    color: #757575;
    padding: 5px;
    margin:3px 0;
    text-align: center;
    opacity: 0;
    animation: fadeLink;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

/* loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    perspective: 1500px;
    display: none;
    transform: scale(0);
    transition: all .3s;
    animation: growUp;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.box-area {
    position: relative;
    transform-style: preserve-3d;
}

.box-area-rotate{
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
}

.box {
    position: absolute;
    width:100px;
    height: 100px;
    border: 1px solid #262626;
}
  
#box-front {
    transform: translateX(-50px) translateY(-50px) translateZ(50px);
    background: rgba(216, 152, 50, 0.8);
}
  
#box-back {
    transform: translateX(-50px) translateY(-50px) translateZ(-50px);
    background: rgba(216, 152, 50, 0.8);
}
  
#box-right {
    transform: translateY(-50px) rotateY(90deg);
    background: rgb(163, 129, 0, 0.8);
}
  
#box-left {
    transform: translateY(-50px) translateX(-100px) rotateY(90deg);
    background: rgb(163, 129, 16, 0.8);
}
  
#box-top {
    transform: translateX(-50px) translateY(-100px) rotateX(90deg);
    background: rgba(231, 176, 56, 0.8);
}
  
#box-bottom {
    transform: translateX(-50px) rotateX(90deg);
    background: rgba(54, 29, 5, 0.8);
}
  
.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}

.fadeOut{
    animation-name: fadeOut;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}
.smaller{
    animation-name: smalling;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

@keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 0, 0);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes fadeLink {
    from{
        opacity: 0;
        padding-right: 30px;

    }to{
        opacity: 1;
        padding-right: 0px;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
    }to{
        opacity: 0;
    }
}

@keyframes growUp {
    from{
        transform: scale(0);

    }to{
        transform: scale(1);
    }
}

@keyframes smalling {
    from{
        transform: scale(1);

    }to{
        transform: scale(0);
    }
}

@keyframes fadeUp {
    from{
        opacity: 0;
        bottom: -100%;

    }to{
        opacity: 1;
        bottom: 0;
    }
}

@keyframes picGallery {
    0%{
        transform: translateX(0);
    }50%{
        transform: translateX(-70%);
    }100%{
        transform: translateX(0);
    }
}

