@font-face {
    font-family: 'Material Icons Outlined';
    src: url('../fonts/Material/MaterialIconsOutlined-Regular.otf');
}

@font-face {
  font-family: 'Neva-Light';
  src: url('../fonts/Nexa/NexaDemo-Light.otf');
}

@font-face {
    font-family: 'Neva-Bold';
    src: url('../fonts/Nexa/NexaDemo-Bold.otf');
}

@font-face {
    font-family: 'Neva-Extra-Bold';
    src: url('../fonts/Nexa/Nexa-Trial-ExtraBold.otf');
}

@font-face {
    font-family: 'Neva-Heavy';
    src: url('../fonts/Nexa/Nexa-Trial-Heavy.otf');
}

html,body{
    font-family: 'Neva-Light',sans-serif;
    font-size: 1rem;
    overflow: hidden;
}

h1{
    font-family: 'Neva-Light',sans-serif;
    /*text-transform: uppercase;*/
    font-size: 4rem;
    line-height: 4rem;
}

#cursor{
    height: 50px;
    width: 50px;
    background:transparent;
    border: 3px solid #ff9900;
    border-radius: .5rem;
    position: absolute;
    display: none;
    transition-duration: 1s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;
    transform: scale(1);
}

video:hover ~ #cursor,
span:hover ~ #cursor,
i:hover ~ #cursor,
h1:hover ~ #cursor,
img:hover ~ #cursor,
a:hover ~ #cursor,
span:hover ~ #cursor,
button:hover ~ #cursor,
div:hover ~ #cursor{
    transform: scale(0.5);
}

.sidenav{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(255,255,255,0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    left: 0;
    top: 0;
    margin-left: -100%;
    transition: all 1s;
    border-right: 1px solid #757575;
    z-index: 3;
}

.sidenav-menu{
    list-style: none;
    width: 650px;
    list-style-position: inside;
    padding: 0;
    padding-top: 60px;
    margin: 0 auto;
}
.sidenav-menu li {
    text-align: center;
}
.sidenav-menu li a{
    display: none;
    width: 100%;
    text-align: center;
    color: #757575;
    font-size: 2rem;
    cursor: pointer;
    transition: all .3s;
    opacity: 0;
    animation: fadeLink;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: normal;
}

.sidenav-menu li a:hover{
    color:#ff9900;
    letter-spacing: 2px;
}

#sidenav-1{
    z-index: 4;
}

#sidenav-2{
    display: none;
    width: 100%;
    backdrop-filter: none;
    border-right: none;
    background: none;
    height: 80px;
    top:initial;
    bottom: 0;
    background: rgb(237,185,73);
    background: linear-gradient(180deg, rgba(237,185,73,1) 0%, rgba(218,140,39,1) 100%);
}

#sidenav-2 ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0px;
    padding: 0;
}

#sidenav-2 ul li{
    overflow: hidden;
    transition: all .5s ease-in-out;
    transform: scale(1);
    width: 100%;
    display: flex;
    align-items: center;
}


#sidenav-2 ul li:hover{
    background: rgb(242 242 242 / 30%);
}

#sidenav-2 ul li a{
    display: none;
    width: 100%;
    color: white;
    letter-spacing: normal;
    text-transform: uppercase;
    transform: scale(1);
    font-size: 1.5rem;
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #b36e06;
}

#sidenav-2 ul li a:hover{
    letter-spacing: normal;
}
#sidenav-2 ul li.active{
    background: rgb(45, 45, 45);
}
/*
li.s-i-1{
    background: #303030;
}

li.s-i-6,
li.s-i-1{
    width: 20%;   
}

li.s-i-5,
li.s-i-4,
li.s-i-2,
li.s-i-3{
    width: 40%;   
}

li.s-i-7,
li.s-i-8,
li.s-i-9,
li.s-i-10{
    width: 25%;   
}

li.s-i-5,
li.s-i-7{
    background: #f3b840;
}9
li.s-i-8 a{
    flex-direction: column;
}

li.s-i-8 a img{
    max-width:3rem;
    margin-bottom: 15px;
}

li.s-i-8 a h4,
li.s-i-8 a h5,
li.s-i-8 a h3{
    color: #090909;
    font-size: 1rem;
}*/

.logo-center{
    position: fixed;
    width: 300px;
    left: calc(50% - 150px);
    top: -20px;
    z-index: 2;
}

.logo-center img{
    width: 100%;
}

/* logo */
.navbar-brand{
    max-width: 250px;
    overflow: hidden;
    display: block;
    max-height: 70px;
}

.navbar-brand img{
    width: 100%;
    opacity: 0;
    margin-top: 80px;
    transition: all .5s ease-in-out;
}

.navbar {
    box-shadow:none;
    position: relative;
    z-index: 2;
    padding: 20px 60px;
}

.bg-light {
    background-color: transparent!important;
}

#item-grow-1{
    animation-delay: .3s;
}

#item-grow-2{
    animation-delay: .6s;
}

#item-grow-3{
    animation-delay: .9s;
}

#item-grow-4{
    animation-delay: 1.2s;
}

#item-grow-5{
    animation-delay: 1.5s;
}

#item-grow-6{
    animation-delay: 2s;
}

#item-grow-7{
    animation-delay: 2.5s;
}

#item-grow-8{
    animation-delay: 3s;
}

#item-grow-9{
    animation-delay: 3.5s;
}

#item-grow-10{
    animation-delay: 4s;
}

/* sections */
.row{
    height: 100%;
}
.main-container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}
.container-fluid{
    width: 100%;
    height: 100%;
    display: none;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}

/* videos */
#myVideo{
    display: block;
    max-width: 960px;
    margin: 0 auto;
    transition: all 1s ease-out;
}

#piedrasvid,
#maculvid,
#loicasvid{
    display: block;
    min-width: 100%;
    min-height: 100%;
    margin-left: 0;
    transition: all 1s ease-out;
}


/* proyectos */
.p-container{
    z-index: 2;
}

#proyectos-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 1;
}

#macul,
#piedras,
#loicas,
#proyectos{
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out;
}

#proyectos h1{
    padding: 0 15px;
    border-left: 4px solid #f38c23;
    margin-left: 60px;
}

#macul .row .col,
#piedras .row .col,
#loicas .row .col{
    padding: 0;
}

.right-container{
    margin-left: 100%;
}
.central-col{
    text-align: center;
}

.arrows{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    top: calc(50% - 25px);
    z-index: 3;
    margin-top: 50px;
    display: none;
}

.arrows .a-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.arrows .a-container .a-c-next,
.arrows .a-container .a-c-prev{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #f2f2f2;
    border-radius: 50%;
}

.arrows .a-container .a-c-next i,
.arrows .a-container .a-c-prev i{
    font-size: 3rem;
    color: #303030;
    transition: all .3s;
    padding: 0 2px;
}

.arrows .a-container .a-c-next .arrow-text,
.arrows .a-container .a-c-prev .arrow-text{
    font-size: 1rem;
    color: white;
    position: absolute;
    height: 30px;
    top: calc(50% - 15px);
    opacity: 0;
    white-space: nowrap;
    transition: all .3s;
    padding: 0;
}
.arrows .a-container .a-c-prev .arrow-text{
    left: 30px;
}

.arrows .a-container .a-c-next .arrow-text{
    right: 30px;
}

.arrows .a-container .a-c-next{
    right:15px;
}

.arrows .a-container .a-c-prev{
    left:15px;
}

.arrows .a-container .a-c-next:hover #next-project{
    opacity: 1;
    padding-right: 30px;
}

.arrows .a-container .a-c-prev:hover #prev-project{
    opacity: 1;
    padding-left: 30px;
}

#proyectos-container .row{
    padding-top: 150px;
}

#proyectos-container .domotica-col{
    display: flex;
    justify-content: center;
}

#proyectos-container .row.domotica .col-3{
    padding-right: 0;
    width: calc(100% - 1340px);
}

#proyectos-container .row.domotica .col-9{
    position: relative;
    padding-left: 0;
    width: 1340px;
    max-width: 1340px;
}

#proyectos-container .row.domotica .col-9 img{
    max-width: 100%;
}

#proyectos-container .row .col{
    padding: 15px 0px;
}

#proyectos-container .row .col .card{
    padding: 30px;
}

#proyectos-container .row .col .card h4{
    color:#ebb547;
    margin-bottom: 30px;
}
.domotica h5,
.domotica h4{
    text-align: center;
    text-transform: uppercase;
    margin: 5px auto;
    width: 300px;
}

.domotica h4{
    border-bottom: 3px solid #ebb346;
}

.domotica h5{
    font-size: 1rem;
}

.domotica-list{
    list-style-position: inside;
    padding-top: 15px;
    list-style-type: disc;
}

.domotica-list li{
    font-size: 1.2rem;
}

.domotica-back{
    width: 1871px;
    display: block;
    margin: 0;
    margin-top: 50px;
    position: absolute;
}

.dom-circle-container{
    width: 1871px;
    height: 609px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
}

.dom-circle{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #ebb346;
    z-index: 1;
    cursor: pointer;
    transition: all .3s;
    animation: shining 3s ease-in-out 0s infinite;
}

.dom-circle:hover{
    border: 3px solid #ff9900;
}

.pophover{
    position: relative;
    background: white;
    width: 300px;
    min-height: 140px;
    border-radius: 0.5rem;
    padding: 10px 10px;
    box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.39);
    -webkit-box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.39);
    -moz-box-shadow: 4px 4px 10px 3px rgba(0,0,0,0.39);
    opacity: 0;
    transition: all .3s;
}
.pophover.popleft{
    animation: popleft .5s ease-in-out 0s forwards;
    margin-left: 0;

}

.pophover.poptop{
    animation: poptop .5s ease-in-out 0s forwards;
    margin-left: -125px;
    margin-top: -195px;
}

.pophover.popbottom{
    animation: popbottom .5s ease-in-out 0s forwards;
    margin-left: -125px;
    margin-top: 10px;
}

.pophover-header{
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid var(--mdb-gray-400);
    margin-bottom: 5px;
}

.pophover.popleft::before{
    content: '\25B2';
    color: white;
    position: absolute;
    left: -11px;
    transform: rotate(154deg);
}

.pophover.poptop::before{
    content: '\25B2';
    color: white;
    position: absolute;
    left: 140px;
    bottom: -18px;
    transform: rotate(180deg);
}

.pophover.popbottom::before{
    content: '\25B2';
    color: white;
    position: absolute;
    top: -18px;
    left: 140px;
    transform: rotate(0deg);
}

/* conectividad */

.conect-img{
    display: block;
    margin: 0 auto;
}
.accesos{
    list-style-type: disc;
    list-style-position: outside;
    padding-top: 150px;
}

.accesos li{
    padding: 5px 0;
    font-size: 1.3rem;
}


/* gallery grid */
.gallery{
    position: absolute;
    right: 140px;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    list-style-position: inside;
    z-index: 2;
}

.gallery li{
    position: relative;
    width: calc(33.3333% - 20px);
    height: 100%;
    margin-right: 5px;
    overflow: hidden;
    padding: 0;
    transition: all .3s;
    bottom: 0;
    opacity: 0;
    padding-top: 120px;
    display: none;
}

.fadeIn{
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.gallery li .thumb-gallery{
    height: 100%;
}

.gallery li .thumb-gallery img{
    cursor: pointer;
    max-height: 100%;
    transition: all .3s;
    filter: grayscale(100%);
    transform: translateX(0);
}

.gallery li .thumb-gallery img:hover{
    filter: grayscale(0%);
    animation:picGallery;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.gallery li:first-child{
    padding-top: 250px;
}

.gallery li:last-child{
    padding-top: 160px;
}

.gallery li .thumb-gallery h5,
.gallery li .thumb-gallery h4,
.gallery li .thumb-gallery h3{
    position: absolute;
    z-index: 2;
    color: white;
    width: 100%;
    text-align: left;
    padding-left: 15px;
    left: 0;
    bottom: 0px;
    font-family: 'Neva-Bold', sans-serif;
    font-size: 1.2rem;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.gallery li .thumb-gallery h5,
.gallery li .thumb-gallery h4{
    font-family:'Neva-Light', sans-serif;
}

.gallery li .thumb-gallery h4{
    font-size: 1rem;
}

.gallery li .thumb-gallery h5{
    font-size: .9rem;
}


.gallery li .thumb-gallery:hover h5{
    opacity: 1;
    bottom: 5px;
}

.gallery li .thumb-gallery:hover h4{
    opacity: 1;
    bottom: 50px;
}

.gallery li .thumb-gallery:hover h3{
    opacity: 1;
    bottom: 25px;
}

.w-100{
    min-height: 100vh;
    max-height: 100vh;
}

.carousel{
    background: url(../img/spinner.gif) no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 100px 100px;
}

.carousel-caption{
    bottom:80px;
}

.carousel-caption h5{
    font-size: 2.25rem;
}

.carousel-indicators{
    bottom: 100px;
}

.carousel-indicators{
    display: none;
}
/* casas */
#v-tabs-tab{
    margin-top: 50px;
}

.nav-tabs .nav-link{
    font-size: 1.2rem;
    padding: 20px 0;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active {
    background: linear-gradient(180deg, rgba(237,185,73,1) 0%, rgba(218,140,39,1) 100%);
    border:none;
    color: white;
    background-color: #f5f5f5;
}

.casas{
    max-width: 100%;

}
#proyectos-container .casas-row{
    padding-top: 250px;
}

#proyectos-container .casas-tab{
    padding-top: 0;
}

.casas-tab .col-3 h4{
    font-weight: bold;
    text-transform: uppercase;
}

.casas-tab .col-3 h4:first-child{
    margin-top: 50px;
    padding-top: 100px;
}

.casas-tab .col-3 ul{
    padding: 0;
    list-style: none;
}

.casas-tab .col-3 ul li {
    font-size: 1.2rem;
    padding: 5px 0;
}
/* boxes */
.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: none;
    transition: all .3s;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 152, 0, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#item-up-1{
    animation-delay: 0s;
}

#item-up-2{
    animation-delay: .4s;
}

#item-up-3{
    animation-delay: .8s;
}

/* social */
#social{
    position: fixed;
    width: 50px;
    left: 60px;
    bottom: 30px;
    z-index: 2;
}
i.social-item{
    display: none;
    font-size: 1.2rem;
    color: #757575;
    padding: 5px;
    margin:3px 0;
    text-align: center;
    opacity: 0;
    animation: fadeLink;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    cursor: pointer;
}

/* loader */

.progress {
    display: none;
    position: absolute;
    top: calc(50% - .3rem);
    left:40%;
    border-radius: 0;
    width: 20%;
    margin: 0 auto;
    height: 0.75rem;
    z-index: 1111;
}

.progress .progress-bar{
    width: 0;
    height: 0.75rem;
    transition: all 3.5s ease-in-out;
}

.progress .progress-bar.loading{
    width: 100%;
}

/*#loader {
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
    perspective: 1500px;
    display: none;
    transform: scale(0);
    transition: all .3s;
    animation: growUp;
    animation-timing-function: ease-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
}

.box-area {
    position: relative;
    transform-style: preserve-3d;
}

.box-area-rotate{
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}

.box {
    position: absolute;
    width:80px;
    height: 80px;
    border: 1px solid #262626;
}
  
#box-front {
    transform: translateX(-40px) translateY(-40px) translateZ(40px);
    background: rgba(216, 152, 40, 0.8);
}
  
#box-back {
    transform: translateX(-40px) translateY(-40px) translateZ(-40px);
    background: rgba(216, 152, 40, 0.8);
}
  
#box-right {
    transform: translateY(-40px) rotateY(90deg);
    background: rgb(163, 129, 0, 0.8);
}
  
#box-left {
    transform: translateY(-40px) translateX(-80px) rotateY(90deg);
    background: rgb(163, 129, 16, 0.8);
}
  
#box-top {
    transform: translateX(-40px) translateY(-80px) rotateX(90deg);
    background: rgba(231, 176, 56, 0.8);
}
  
#box-bottom {
    transform: translateX(-40px) rotateX(90deg);
    background: rgba(54, 29, 5, 0.8);
}
  
.box-area {
    transform: rotateX(90deg) rotateY(90deg);
}
*/
.fadeOut{
    animation-name: fadeOut;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.fadeLeft{
    animation-name: fadeLeft;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

.fadeLeftOut{
    animation-name: fadeLeftOut;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards; 
}

.smaller{
    animation-name: smalling;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
}

#sidenav-2 ul li.small{
    width: 0;
    height: 0;
}

#sidenav-2 ul li.expand{
    width: 100%;
    height: 100%;
}

@keyframes popleft {
    from{
        opacity: 0;
        margin-left: 0;
    }to{
        opacity: 1;
        margin-left: 50px;
    }
}

@keyframes poptop {
    from{
        opacity: 0;
        margin-top: -195px;
    }to{
        opacity: 1;
        margin-top: -145px;
    }
}

@keyframes popbottom {
    from{
        opacity: 0;
        margin-top: 10px;
    }to{
        opacity: 1;
        margin-top: 60px;
    }
}

@keyframes load {
    from{
        width: 0;
    }to{
        width: 100%;
    }
}

@keyframes rotate {
    0% {
      transform: rotate3d(0, 0, 0, 0);
    }
    100% {
      transform: rotate3d(0, 1, 0, 360deg);
    }
}

@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

@keyframes fadeLink {
    from{
        opacity: 0;
        padding-right: 30px;

    }to{
        opacity: 1;
        padding-right: 0px;
    }
}

@keyframes fadeOut {
    from{
        opacity: 1;
        bottom: 0;
    }to{
        opacity: 0;
        bottom: -100%;
    }
}

@keyframes fadeLeft {
    from{
        opacity: 0;
        margin-left: -100%;
    }to{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes fadeLeftOut {
    from{
        opacity: 1;
        margin-left: 0;
    }to{
        opacity: 0;
        margin-left: -100%;
    }
}

@keyframes growUp {
    from{
        opacity: 0;
        transform: scale(0);

    }to{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes smalling {
    from{
        opacity: 1;
        transform: scale(1);

    }to{
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

@keyframes picGallery {
    0%{
        transform: translateX(0);
    }50%{
        transform: translateX(-70%);
    }100%{
        transform: translateX(0);
    }
}

@keyframes shining {
    0%{
        border: 3px solid #ebb346;
    }
    50%{
        border: 3px solid #dbbe85;
    }
    100%{
        border: 3px solid #ebb346;
    }
}
